doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gulp Markup Config
    link(rel="stylesheet", href="/styles/main.css")
  body 
    h1 Hello world
    p bla
      span sjdhbfsdgfj
    #root

    script(src="/scripts/main.js")